{% extends "base.twig" %}

{% block content %}

  <!-- hero with video -->
  <div id="video-hero" style="width: 100%;">
    <div class="container">
      <div class="row">
        <div id="welcome">
          <h1>#{{category_now}}</h1>
          <p class="text-center">Lahar Magazine è una posterzine indipendente.</p>
        </div>
      </div>
    </div>
    <div id="video-opacity"></div>
    <!-- YouTube -->
    <div id="player"></div>
  </div>
  <!-- /#video-hero -->

  <!-- #briefing -->
  <div id="briefing-container">
    <div id="briefing" class="container">
      <div class="row">
        <div class="col-sm-3">
          <img src="{{category_image}}">
         </div>
        <div class="col-sm-9">
          <h2>Tema del numero</h2>
          {{edition_text}}
          <!-- Galleria immagini
          {% filter shortcodes %}
            [gallery category="26-invidia" columns="4" size="thumbnail" itemtag="div" icontag="span" link="none"]
          {% endfilter %}
          -->
        </div>
      </div>
    </div>
  </div>

  <!-- /#briefing -->
  <div id="main" class="container">
    <div class="row">
      
      {# articoli #}
      <div class="col-sm-8">
        <h3>In questo numero</h3>
        <hr>
        {% for post in posts %}
          {% if post.category == category_now %}
            {% include ['tease-'~post.post_type~'.twig', 'tease.twig'] %}
          {% endif %} 
        {% endfor %}
      </div>

      {# sidebar #}
      <div class="col-sm-4 hidden-xs">
        <div class="rubrica">
          <p class="text-center">
            <a href="https://www.pixartprinting.it/"><img style="height:50px;width:auto" src="{{site.theme.link}}/img/pixartprinting.png" alt="PixartPrinting"></a>
          </p>
        </div>
        {# Abbonati #}
        <div class="rubrica">
          <p class="text-center">
            <!-- envelope by lastspark from the Noun Project -->
            <img class="rubrica-icona" src="{{site.theme.link}}/img/envelope.png" alt="Envelope">
          </p>
          <h4>Abbonati!</h4>
          <p>Aiuta a sostenere la rivista e ricevi a casa Lahar Magazine. Sei pronto?</p>
          <p class="text-center">
            <a href="abbonamenti">
              <button class="btn btn-primary">Sì lo voglio</button>
            </a>
          </p>
        </div>

        {# Instagram #}
        <div class="rubrica">
          <p class="text-center">
            <!-- Camera by Guillaume Berry from the Noun Project -->
            <img class="rubrica-icona" src="{{site.theme.link}}/img/instagram.png" alt="Instagram">
          </p>
          <h4>Instagram</h4>
          <div class="row">
            {% for foto in fotos %}
              {% if loop.index <= 6 %}
                <div class="col-sm-6">
                  <a href="{{foto.link}}" target="_blank">
                    <img class="img-responsive center-block img-insta" src="{{foto.images.low_resolution.url}}" alt="Lahar Magazine #{{foto.tags[0]}}" title="Lahar Magazine #{{foto.tags[0]}}" />
                  </a>
                </div>
              {% endif %} 
            {% endfor %}
          </div>
        </div>

        {# Collabora #}
        <div class="rubrica">
          <p class="text-center">
            <!-- Light Bulb By Blake Kathryn -->
            <img class="rubrica-icona" src="{{site.theme.link}}/img/bulb.svg" alt="Envelope">
          </p>
          <h4>Hey tu<br>Collabora con noi</h4>
          <p>Hai un’idea brillante da esporre? <strong>Hai qualcosa da dire?</strong> Lahar Magazine è un progetto aperto a tutti. Scopri il tema del prossimo numero e <strong>conquista lo spazio sul cartaceo</strong>.</p>
          <p class="text-center">
            <a href="abbonamenti">
              <button class="btn btn-primary">Voglio collaborare!</button>
            </a>
          </p>
        </div>
      </div>
    </div>  
  </div>
  <script>
  if (window.orientation == undefined) {  
      // Loads the iframe
      var tag = document.createElement('script');
      tag.src = "http://www.youtube.com/iframe_api";
      var firstScriptTag = document.getElementsByTagName('script')[0];
      firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

      // Video data
      var player;
      function onYouTubePlayerAPIReady() {
        player = new YT.Player('player', {
          height: '281',
          width: '500',
          playerVars: { 'autoplay': 1, 'controls': 0,'autohide': 1, 'showinfo': 0, 'modestbranding': 1, 'loop': 1, 'playlist': '{{youtube_code}}'},
          videoId: '{{youtube_code}}',
          events: {'onReady': onPlayerReady}
        });
      }

      // Functions on video
      function onPlayerReady(event) {
        event.target.mute();
      }
    }
    </script>
{% endblock %}
