{% extends "base.twig" %}

{% block content %}
	<div class="page">
		<div class="post-container">
			{% if post.thumbnail %}
				<div class="hero" style="background: url('{{post.thumbnail.src|resize(1900)}}') center; background-attachment: fixed; background-size: 110% auto;">
					<div class="text-protection"></div>   
					<div class="title-container">
						<h1>
							{{post.title}}
						</h1>
						{% if post.format == 'video' %}
							{{ post }}
						{% endif %}
						<p>
							{% if post.terms('tags') %}
								di 
								{% for term in post.terms('tags') %} 
									<a href="{{ term.link }}">
										<em>{{term.name}}</em>
									</a>
								{% endfor %}
							{% endif %}
						</p>
					</div>	
				</div>
				{% else %}
				<div class="article">
					<h1>{{post.title}}</h1>
					<p>
						{% if post.terms('tags') %}
							di 
							<em>
								{% for term in post.terms('tags') %} 
									<a href="{{ term.link }}">
										{{term.name}} 
									</a>
								{% endfor %}
							</em>
						{% endif %}
					</p>
				</p>
			</div>
		{% endif %}
		<div class="container">
			<div class="article">
				<p id="post-issue">
					<span class="issue-small-caps">ISSUE</span>
					{% if post.terms('category') %}
						<strong class="issue">
							{% for term in post.terms('category') %} 
								#{{term.name}} 
							{% endfor %}
						</strong>
					{% endif %}
				</p>
				<div class="content">					
					{{post.content}}
				</div>
				<hr>
			</div>
		</div>		

		<div class="container">
			<div class="article">
				<!-- Begin MailChimp Signup Form -->
				<div id="mc_embed_signup" class="text-center">
					<form action="//laharmagazine.us10.list-manage.com/subscribe/post?u=1beab0203af7e0664b0c283a2&amp;id=e77696ef3e" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
						<div id="mc_embed_signup_scroll">
							<h3>Hey tu!</h3>
							<div class="col-sm-10 col-sm-offset-1">
								<p style="text-align:left"><strong>Facebook è malvagio</strong> e non ti fa vedere tutte le nostre cose! Iscriviti alla newsletter per <strong>non perdere i nuovi numeri e eventi</strong> Lahar Magazine. Ah, ogni tanto mandiamo anche delle storie a sorpresa, così.</p>
								<div class="row">
									<div class="col-sm-6 col-sm-offset-3">
										<div class="mc-field-group form-group">
											<label for="mce-EMAIL">Inserisci la tua email</label>
											<input type="email" value="" name="EMAIL" class="required email form-control" placeholder="email@email.com" id="mce-EMAIL">
										</div>
										<div id="mce-responses" class="clear">
											<div class="response" id="mce-error-response" style="display:none"></div>
											<div class="response" id="mce-success-response" style="display:none"></div>
										</div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
										<div style="position: absolute; left: -5000px;"><input type="text" name="b_7379b45d989bb7498061a4cc9_9ecc90314f" tabindex="-1" value=""></div>
										<div class="clear">
											<input type="submit" value="Iscriviti" name="subscribe" id="mc-embedded-subscribe" class="btn btn-primary wow shake">
										</div>
									</div>
								</div>
							</div>
						</div>
					</form>
				</div>
				<!--End mc_embed_signup-->
			</div>
		</div>
	</div>
	<!-- end .post-container -->
	<br>
</div>
<!-- end .page -->
{% endblock %}